/* 页脚 */
#footer {
    background: rgba(0, 0, 0, 0) !important;
    /* 
    border-top-left-radius: var(--cxl2020mc-radius);
    border-top-right-radius: var(--cxl2020mc-radius);
     */
  }
  
  #footer:before {
    background: rgba(0, 0, 0, 0);
  }
  
  #footer_deal {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  
  #footer_deal>.social-icon {
    display: flex;
    margin: 1rem 27px;
    /* color: var(--Jay-card-bg); */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: var(--cxl2020mc-fontcolor);
    justify-content: center;
    align-items: center;
    transition: .3s;
  }
  
  [data-theme=dark] #footer_deal>.social-icon {
    color: var(--cxl2020mc-fontcolor-re);
  }
  
  #footer_deal>.social-icon:hover {
    /* 删除下划线 */
    text-decoration: none;
  }
  
  [data-theme=dark] #footer_deal>.social-icon:hover {
    background: rgb(55, 56, 60);
    color: #fff;
  }
  
  #cxl2020mc_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    margin: 1rem auto 3rem;
    padding: 0px 1rem;
  }
  
  #cxl2020mc_footer>.footer-group a {
    color: var(--cxl2020mc-fontcolor);
    /* 删除下划线 */
    text-decoration: none;
  }