/* 声名部分变量 */
:root {
  --cxl2020mc-radius: 7px;
}

/* 浅色模式颜色 */
[data-theme=light] {
  --cxl2020mc-border-color: #e3e8f7;
  --cxl2020mc-card-bg: #fff;
}

/* 深色模式颜色 */
[data-theme=dark] {
  --cxl2020mc-border-color: #42444a;
  --cxl2020mc-card-bg: #1d1b26;
}

/* 引入字体(字体设置在主题设置里) */
@font-face {
  font-family: "HarmonyOS Sans";
  src: url(https://cxl2020mc-1304820025.file.myqcloud.com/fonts/HarmonyOS_Sans_Regular.woff2);
  font-display: swap;
  /* /fonts/HarmonyOS_Sans_SC_Regular.subset.ttf */
  /* /fonts/HarmonyOS_Sans_Regular.subset.ttf */
  /* https://npm.elemecdn.com/qycdn/fonts/HarmonyOS_Sans_Regular.subset.ttf) */
  /* https://cxl2020mc-1304820025.file.myqcloud.com/fonts/HarmonyOS_Sans_Regular.woff2 */
  /* /fonts/HarmonyOS_Sans_Regular.woff2 */
}

/* 缩进Aplayer的全局吸底音乐标签 */
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}



/* 评论区 */

/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
  content: '输入QQ号会自动获取昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
  content: '收到回复将会发送到您的邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
  content: '可以通过昵称访问您的网站🔗';
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
  display: block;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
  /* 先隐藏起来 */
  display: none;
  /* 绝对定位 */
  position: absolute;
  /* 向上移动60像素 */
  top: -60px;
  /* 文字强制不换行，防止left:50%导致的文字换行 */
  white-space: nowrap;
  /* 圆角 */
  border-radius: 10px;
  /* 距离左边50% */
  left: 50%;
  /* 然后再向左边挪动自身的一半，即可实现居中 */
  transform: translate(-50%);
  /* 填充 */
  padding: 14px 18px;
  background: #444;
  color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
  display: none;
  content: '';
  position: absolute;
  /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
  我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
  border: 12px solid transparent;
  border-top-color: #444;
  left: 50%;
  transform: translate(-50%, -48px);
}


/* 侧边栏图片圆角 */
.aside-list-item .thumbnail>img {
  /* 圆角 */
  border-radius: var(--cxl2020mc-radius);
}

/* 侧边栏TOC目录圆角 */
#aside-content #card-toc .toc-content .toc-link.active {
  border-radius: var(--cxl2020mc-radius);
}

/* GitHub按钮圆角 */
#card-info-btn {
  border-radius: var(--cxl2020mc-radius);
}

/* GitHub按钮样式(为了在别的地方能用) */
.cxl2020mc-card-info-btn {
  display: block;
  margin-top: 14px;
  background-color: var(--btn-bg);
  color: var(--btn-color) !important;
  text-align: center;
  line-height: 2.4;
  border-radius: var(--cxl2020mc-radius);
}

.cxl2020mc-card-info-btn:hover {
  background-color: var(--btn-hover-color);
}

.cxl2020mc-card-info-btn span {
  padding-left: 10px;
}

/* 版权信息圆角 */
#post .post-copyright {
  border-radius: var(--cxl2020mc-radius);
}

/* Twikoo评论区美化 */

/*
@media screen and (max-width: 768px) {
  .twikoo .tk-comments-container>.tk-comment {
    padding: 1rem;
    border-radius: var(--cxl2020mc-radius);
    box-shadow: var(--card-hover-box-shadow);
    background: var(--cxl2020mc-card-bg);
    transition: .3s;
  }
}
*/

/* 评论区评论大框（包括回复） */
.twikoo .tk-comments-container>.tk-comment {
  /* 内边距 */
  padding: 1rem;
  /* 圆角 */
  border-radius: var(--cxl2020mc-radius);
  /* 阴影（浅色模式突出层次感） */
  box-shadow: var(--card-box-shadow);
  /* 背景颜色 */
  background: var(--cxl2020mc-card-bg);
  /* 变动动画时长 */
  transition: .3s;
}
/* 评论区评论大框阴影悬浮加深 */
.twikoo .tk-comments-container>.tk-comment:hover{
  box-shadow: var(--card-hover-box-shadow);
}

/* 加载更多按钮 */
.twikoo .tk-expand {
  /* 圆角 */
  border-radius: var(--cxl2020mc-radius);
}

/* 加载更多按钮（鼠标悬浮时） */
.twikoo .tk-expand:hover {
  /* 背景颜色 */
  background: var(--btn-hover-color) !important;
  /* 文字颜色 */
  color: var(--btn-color) !important;
}